.inputCategoryValue{
    margin-left: 10px;
}
.category-add-btn{
    border-radius: 5px;
    overflow: hidden;
    outline-offset: 0;
    outline: 0;
    outline-color: transparent;
}
.category-input{
    position: sticky;
}
.category{
    background-color: transparent;
}
.select{
    background: white;
    border-radius: 5px;
}
.category-edit-icon{
    margin-right: 5px;
}
.categroy-icons{
    cursor: pointer;
}