/* .searchbar{
    display: flex;
    background: black;
} */
.breadcrumbnav{
    background: #303c54;
    padding: 0.5rem 0;
}
.searchbar{
    background: white;
    padding-left: 0.3rem;
    /* padding-right: 0.1rem; */
    border-radius: 5px;
}
.header-divider{
    margin: 0;
}
.header-sticky{
    padding-bottom: 0;
    padding-left: 0;
    padding-right: inherit;
}
.searchinputtext{
    outline-offset: 0;
}
.navbar{
    display: flex;
}