/* .searchbar{
    display: flex;
    background: black;
} */
.navigation-bar{
    background: #303c54;
    /* padding: 0.5rem 0; */
}
.header-divider{
    margin: 0;
}
.header-sticky{
    padding-bottom: 0;
    padding-left: 0;
    padding-right: inherit;
}
.navbar{
    display: flex;
}
.searchinputtext{
    width: 20rem;
}