.showAllNotes{
    flex: 1.3;
}
.noteEditor{
    flex: 2.5;
    background: white;
    border-radius: 5px;
}
.noteList{
    flex: 1.2;
}
.noteOfNoteList{
    padding: 0.3rem 1rem;
    color: #3c4b64;
    margin: 0.5rem 0;
}
.highlightnote{
    background: white;
    border-radius: 5px;
    box-shadow:2px 2px 2px rgba(0, 0, 0, 0.1);
}
.saveNoteOnDate{
    font-size: small;
    margin-top: 1rem;
}
.dropdown-menu{
    padding: 0;
    width: 0px;
}
.dropdowntogglebtn{
    padding: 0;
    background-color: transparent;
    color: #3c4b64;
    white-space: nowrap;
}
.AddNotebutton{
    background: #3c4e64;
}